/*
* @Author: yan
* @Date:   2017-08-02 09:53:16
* @Last Modified by:   yan
* @Last Modified time: 2017-08-03 09:45:02
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑","宋体",sans-serif;
    box-sizing: border-box;
}
body{
	border: 0;
}
img{
	border: 0;
}